In [1]:
import mpbn
from colomoto_jupyter import tabulate

In [2]:
mbn = mpbn.MPBooleanNetwork({
    "a": "!b",
    "b": "!a",
    "c": "!a & b"
})

In [3]:
c0 = dict(a=0, b=0, c=0)
c1 = dict(a=1, b=1, c=1)
c2 = dict(a=0, b=1, c=0)

In [4]:
a = list(mbn.attractors())
tabulate(a)

   a  b  c
0  0  1  1
1  1  0  0

In [5]:
mbn.reachability(c0, c1)

True

In [6]:
mbn.reachability(c0, a[0])

True

In [7]:
mbn.reachability(a[1], a[0])

False

In [8]:
ra = mbn.attractors(reachable_from=c2)
tabulate(ra)

   a  b  c
0  0  1  1